<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$("#find_product").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/invoices/load-products/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.name,
									price : item.price,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					//$("#find_product").val(ui.item.label);
					
					if(itemsHelper.hasProduct(ui.item.value)){
						itemsHelper.incrementAmount(ui.item.value, ui.item.price);
						return false;
					}
					
					var linea = $("#invoiceItemsTemplate").html();
					
					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NAME}/g, ui.item.label);
					linea = linea.replace(/{PRICE}/g, ui.item.price);
					
					$("#loadProductItems tbody").append(linea);
					itemsHelper.calculateAmount(ui.item.value, ui.item.price, 1);

					return false;
				}
			});
			
			$("form").submit(function(){
				$("#invoiceItemsTemplate").remove();
				return;
			});

		});
		
		var itemsHelper = {
			calculateAmount: function(id, price, amount){
				$("#total_amount_" + id).html(parseInt(price) * parseInt(amount));
				this.calculateWholeTotal();
			},
			hasProduct: function(id){
				
				var result = false;
				
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val()) ){
						result = true;
					}
				});
				
				return result;
			},
			incrementAmount: function(id, price){
				var amount = $("#amount_" + id).val() ? parseInt($("#amount_" + id).val()) : 0;
				$("#amount_" + id).val(++amount);
				this.calculateAmount(id, price, amount);
			},
			deleteInvoiceItem: function(id){
				$("#row_" + id).remove();
				this.calculateWholeTotal();
			},
			calculateWholeTotal: function(){
				var total = 0;
				
				$('span[id^="total_amount_"]').each(function(){
					total += parseInt($(this).html());
				});
				
				$('#gran_total').html(total);
			}
		}
	</script>
</body>
</html>