<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error: Access Denied!</div>
			<div class="card-body">
				<h5 class="card-title">
					<!-- Another approach: <span th:text="${#httpServletRequest.remoteUser}"></span>, -->
					We are sorry <span th:text="${#authentication.name}"></span>,
					You DO NOT HAVE PERMISSIONS for accessing to the resource.
				</h5>
				<a th:href="@{/listar}" class="btn btn-outline-light" role="button">Go home page</a>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>